#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/        @kristopherjohnson @teodorciuraru
/android-java/       @phatblat @anyercastillo
/android-kotlin/     @phatblat @anyercastillo
/cpp-tui/            @kristopherjohnson @teodorciuraru
/dotnet-maui/        @busec0 @phatblat
/dotnet-tui/         @busec0 @phatblat
/flutter_quickstart/ @cameron1024 @teodorciuraru
/javascript-tui/     @konstantinbe @pvditto @teodorciuraru
/javascript-web/     @konstantinbe @pvditto @teodorciuraru
/react-native/       @teodorciuraru @kristopherjohnson
/rust-tui/           @kristopherjohnson @cameron1024
/swift/              @phatblat @konstantinbe
