*.dll
*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.env
.DS_Store
.build/
.classpath
.cxx/
.externalNativeBuild/
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vs/
.vscode/
Carthage/
Pods/
build/
cmake-build-debug/
gradlew.bat
heapdump.*.phd
javacore.*.txt
local.properties
obj/
packages/
target/
xcuserdata
.env
bazel-*
build-cmake
node_modules/
.dart_tool/
