<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ditto Spring Tasks Quickstart</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
</head>
<body>
    <div id="sync-header" style="margin-bottom: 1rem;">
        <span id="sync_state"
              hx-ext="sse"
              sse-connect="/ditto/sync/state"
              sse-swap="sync_state">
                  Sync State: True
        </span>
        <button type="button" hx-post="/ditto/sync/toggle" hx-swap="none">
            Toggle
        </button>
    </div>

    <div style="display: flex; gap: 2rem;">
        <div id="list-section" style="flex: 1;"
             hx-ext="sse"
             sse-connect="/tasks/stream"
             sse-swap="task_list">
            <div th:replace="fragments/taskList :: taskListFrag(${tasks})"></div>
        </div>

       <div id="form-section" style="flex: 1;">
            <h3>Add new Task</h3>
            <form hx-post="/tasks" hx-swap="none"
                  hx-on::after-request="if(event.detail.successful) this.reset()">
                <input type="text" name="title" placeholder="Task description..." required />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <script>
        document.body.addEventListener('htmx:sseBeforeMessage', function (e) {
            // Debug SSE Events
            console.log(e)
        })
    </script>
</body>
</html>
